<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Convesores_"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".moneda_activity">

        </activity>
        <activity android:name=".Masa_Activity">

        </activity>
        <activity android:name=".VolumenActivity">

        </activity>
        <activity android:name=".Almacenamiento_Activity">

        </activity>
        <activity android:name=".Longitud_Activity">

        </activity>
        <activity android:name=".Tiempo_Activity">

        </activity>
        <activity android:name=".Datos_Activity">

        </activity>
    </application>

</manifest>